BOT_TOKEN=7234567890:AAHxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MARZBAN_URL=http://localhost:8000
MARZBAN_USER=admin
MARZBAN_PASS=твой_пароль_от_панели
ADMIN_ID=123456789
CRYPTO_TOKEN=токен_из_CryptoBot
INBOUND_TAG=vless-in
